/* general banner */
.landing {
    height: inherit;
    width: inherit;
    background-image: url('../../assets/img/BannerPlaceholder.png');
    background-position-y: top;
    background-repeat: no-repeat;
}

.banner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem auto;
    margin-left: 1rem;
}

.banner *{
    font-family: 'Titles';
    margin: 0 5px 0 5px;
}


.topSec{
    text-align: left;
}

.bottomSec{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* mobile*/
@media only screen and (max-width: 480px) {
    /* mobile typography */
    h2{
        font-size: 33px;
    }

}

/* desk*/
@media only screen and (min-width: 481px) {
    /* desk typography */
    h2{
        font-size: 50px;
    }
}