/* general banner */
.landing {
    height: inherit;
    width: inherit;
    background-image: url('../../assets/img/BannerPlaceholder.png');
    background-position-y: top;
    background-repeat: no-repeat;
}

.banner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem auto;
    margin-left: 1rem;
    font-family: 'Titles';
}

.topSec{
    text-align: left;
}

.bottomSec{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* general formats */
.formats {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 35%;
    aspect-ratio: .75;
}
.formats p{
    font-family: 'Rare';
    margin: 12%;
}

.mobile, .desk, .flyer {
    position: relative;
    background-position: cover;
    background-size: 100%;
    z-index: 20;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.mobile{
    background-image: url(../../assets/img/MobilePlaceholder.png);
}
.desk{
    background-image: url(../../assets/img/mobile.png);
}
.flyer{
    background-image: url(../../assets/img/FlyerPlaceholder.png);
}
/* general deals */
.dealsContainer {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 45%;
    aspect-ratio: .75;
    z-index: 10;
}
.deals{
    position: relative;
    height: 100%;
    width: 100%;
}


.deal{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: .72;
}

.front, .back{
    aspect-ratio: .72;
    background-repeat: no-repeat;
    background-size: contain;
}

.front{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Rare';
    padding: 2.1rem;
    z-index: 20;
    background-image: url(../../assets/img/DealsPlaceholder_.png);
}

.back{
    z-index: 10;
    background-image: url(../../assets/img/DealsHiddenPlaceholder_.png);
}
/* deal text styling */

.price{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    text-shadow: 3px 3px blueviolet;
}
.title{
    font-family: 'Titles';
}
.standard h3{
    text-align: left;
}
/* mobile*/
@media only screen and (max-width: 480px) {
    /* mobile typography */
    h2{
        font-size: 33px;
    }
    h3{
        font-size: 21px;
    }

}

/* desk*/
@media only screen and (min-width: 481px) {
    /* desk typography */
    h2{
        font-size: 50px;
    }
}