/* general nav */
nav{
    display: flex;
    justify-content: flex-end;
}
.menu{
    display: flex;
    justify-content: space-between;
}

/* responsive mobile */
@media only screen and (max-width: 480px) {
    /* mobile nav */
    nav{
        width: 65%;
    }

    .icon{
        max-width: 20%;
    }
}