/* general nav */
nav{
    display: flex;
    width: fit-content;
}
.menu{
    display: flex;
    justify-content: space-between;
}

.menuLink{
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}

/* responsive mobile */
@media only screen and (max-width: 480px) {
    /* mobile typography */
    .menu>div>a>h3{
        font-size: 24px;
    }
    
    /* mobile nav */
    nav{
        max-width: 65%;
        justify-content: flex-end;
    }

    .icon{
        max-width: 20%;
    }

    .mobMenu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
/* responsive desktop */
@media only screen and (min-width: 481px) {
    /* desktop typography */
    .menu>div>a>h3{
        font-size: 50px;
    }

    /* desktop nav */
    nav{
        font-size: 45px;
        justify-content: space-between;
        width: 75%;
    }
}