/* general color */
body {
    background-color: black;
    color: white;
}
/* general layout */
header{
    position: fixed;
}
main{
    height: 100vh;
    overflow-y: scroll;
}
/* general scroller */
main::-webkit-scrollbar {
  display: none;
}
main{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.scrollEvents{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    height: 100vh;
}

.scroller{
    position: fixed;
    top: 0;
    right: 0;
    font-family: 'Rare';
    width: fit-content;
}

.scroller >p {
    text-align: center;
    line-height: 1;
    overflow-wrap: break-word;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
}
