.book{
    z-index: 110;
}

.book h2{
    font-family: 'Rare';
}

.promo{
    height: 55vh;
    background-color: turquoise;
    position: relative;
    width: 100%;
}
.menu{
    position: relative;
    height: 45vh;
    width: 100%;
    position: relative;
    background-color: mediumspringgreen;
}

.build{
    width: 30vh;
    height:100vh;
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buildCard{
    height: 35%;
    width: 100%;
    background-color: darkseagreen;
}
