.book{
    z-index: 110;
}

.book h2{
    font-family: 'Rare';
}

.promo{
    height: 55vh;
    background-color: turquoise;
    position: relative;
    width: 100%;
}
.menu{
    position: relative;
    height: 45vh;
    width: 100%;
    position: relative;
    background-color: mediumspringgreen;
}
.buildContainer{
    width: 100vw;
    height:100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 130;
    pointer-events: none;
}

.promoInfoContainer{
    width: 100vw;
    height:100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 120;
    pointer-events: none;
}
.promoInfo{
    height: 20%;
    background-color: lightgoldenrodyellow;
    width:60%;
    pointer-events: all;
}

.build{
    height: 35%;
    width: 30%;
    background-color: darkseagreen;
    pointer-events: all;
}
